body {
background-color: gray;
}

.big {
  background-color: green;
  height: 200px;
  width: 300px;
}

header {
  height: 120px;
  background-color: black;
}

#planner {
  margin-left:730px;
  margin-top: 40px;
  background-color: blue;
  height: 200px;
  width: 300px;
}

.nav {
  list-style-type: none;

}

.nav li {
  display: inline;
  float: left;
  border: solid white;
  border-width: thin;
  border-radius: 5px;
  background-color: gray;

}

#textArea {
  margin-top: 10px;
  width: 630px;
  height: 100px;
}

/*#addForm {
  margin-left: 10px;
}*/

#addContainer {
  margin-left: 10px;
}

a{
  color: white;
}

#contactDiv {
  border: solid white;
  border-width: thin;
  border-radius: 2px;
  margin: 10px 0 6px 0;
}

#emailView {
  width: 240px;
}

#notesView {
  width: 1000px;
  height: 100px;
  margin-top: 15px;
}
