body {
background-color: #F2F2F2;

}

.big {
  background-color: rgb(37,141,254);
  height: 200px;
  width: 300px;
  color:white;
}

header {
  height: 120px;
  background-color: gray;
  margin-bottom: 80px;
}

#planner {
  /*margin-left:550px;*/
  margin-top: 40px;
  background-color: rgb(37,141,254);
  height: 200px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;

}

.nav {
  list-style-type: none;

}

.nav li {
  display: inline;
  float: left;
  border: solid white;
  border-width: thin;
  border-radius: 5px;
  background-color: rgb(37,141,254);
  color:white;

}

#textArea {
  margin-top: 10px;
  width: 630px;
  height: 100px;
}

/*#addForm {
  margin-left: 10px;
}*/

#addContainer {
  margin-left: 20px;
}



#contactDiv {
  border: solid gray;
  border-width: thin;
  border-radius: 2px;
  margin: 20px 0 6px 0;
  padding: 12px 0 8px 8px;
  margin-left: 10px;

}

#emailView {
  width: 220px;
}

#notesView {
  width: 1200px;
  height: 140px;
  margin-top: 15px;
}

.delete {
  background-color:rgb(217,83,79);
  color: white;
}

.update {
  background-color: rgb(92,184,92);
  color:white;
}

#addbtn {
  background-color: rgb(37,141,254);
  color: white;
}

a{
  color: white;
}



#topBtn {
  margin-bottom: 10px;
}
