<div class="container">
    <h1 id="welcome" class="lead">Welcome, {{userName}}!</h1>
    <button class="btn btn-default" ng-click="logout()">Log Out</button>
</div>


<div class="row" id="topBtn">
<div class="col-md-3"></div>
<div class="col-md-3"><button class="big" Onclick="window.location.href='#add'"><h2>Add Contact</h2> </button></div>
<div class="col-md-3"><button class="big" Onclick="window.location.href='#client'"><h2>Clients</h2> </button></div>
<div class="col-md-3"></div>
</div>


<div class="row">
<div class="col-md-3"></div>
<div class="col-md-3"><button class="big" Onclick="window.location.href='#prospect'"><h2>Prospects</h2> </button></div>
<div class="col-md-3"><button class="big" Onclick="window.location.href='#inactive'"><h2>Inactive</h2> </button></div>
<div class="col-md-3"></div>
</div>
