
<div ng-controller="LoginController">
<div class="container">
  <h1 class="lead">Login</h1>
    <h2 class="lead alert alert-danger" role="alert" ng-if="message != ''">{{message}}</h2>
    <form id="loginform" ng-submit="login()">


          <label id="userlog" for="username">Username:</label>
          <input id="inputuser" type="text" ng-model="user.username"/>

          <label id="passinput" for="password">Password:</label>
          <input id="passinput" type="password" ng-model="user.password" />

          <input class="btn btn-primary" type="submit" name="submit" value="Log In" />
          <a href="#register"> Register</a>

    </form>
</div>
</div>
